
.logo{
  height: 150px;
  position: relative;
  animation-name: dinedashlogo;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
  /* animation-direction: alternate; */
}
.App {
  text-align: center;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-image: linear-gradient( #FF2117,#FF8C00, #FFD93D, #C69563, #8B4819);
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes dinedashlogo {
  
  0%{ left: 0px;}
  /* 25%{left: 200px;}
  50%{left: 400px;}
  75%{left: 600px;} */
  100%{left: 900px;}
}

